#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#gallery{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.icon{
    height:3em;
    margin-left:1em;
}

#icons{
    display: flex;
    margin-top:2em;
}

#info{
    display:flex;
    margin-bottom:3em;
    justify-content: space-evenly;
    height:30em;
    align-items: center;
    max-width:80em;
    min-width:30em;
    text-align: center;
}

#info img{
    max-width:20em;
    min-width:15em;
    height:20em;
    margin-right:2em;
}

#message{
    font-size:1.5em;
    font-weight: bold;
}