.item{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    background-color: #134F2D;
    max-height:49em;
    min-height:40em;
    color:white;
    margin:0 auto;
    flex-basis: auto;
    margin-bottom:3em;
    max-width:40em;
    min-width:25em;
    text-align: center;
}

.item img{
    height:25em;
    width:20em;
    margin:0 auto;
}

.name{
    margin-top:0em;
    color:white;
    font-size: 3em;
}

.desc{
    margin-top:0em;
    margin-bottom:1em;
    font-size:1.5em;
}

.type{
    margin-bottom:2em;
    display:none;
}

.price{
    font-size:2em;
}

#item div{
    margin:0 auto;
    padding:0;
}

#form{
    display:inline-flex;
    margin-bottom:2em;
    margin-top:0;
}

#cartButton{
    margin-top:.5em;
    background-color:#134F2D;
    border:1px solid white;
    color:white;
    height:3em;
    width:9em;
    font-weight: bold;
}

#cartButton:hover{
    background-color:white;
    color:#134F2D;
    font-weight: bolder;
    cursor:pointer;
}

#hidden{
    display:none;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .item{
        margin-left:1.2em;
    }
}