#Nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #134F2D;
    height:5em;
    align-items: center;
    
    min-width:25em;
}

#Nav ul{
    margin-top:0;
    width:100%;
}

#Nav li:hover{
    cursor:pointer;
    font-size:1.7em;
}


#listItem{
    color:white;
}
